* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Teachers";

}
header,footer,main aside{
    padding:3vw;

}



.container{
    height: 100vh;
    width: 100vw;
    background: orange;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 55% 50%;

}
header{
    display: flex;
    justify-content: space-between;
}
.logo{
    height:20px ;
    width:20px ;
    background: black;
    transform: rotate(45deg);
    transition: 0.5s ease;
}
.logo:hover{
    cursor: pointer;
    transform: rotate(90deg);
    border-radius: 6px;
}
header ul{
    list-style: none;
    text-align: right;
    color: red;
    cursor: pointer;
}
header ul li:first-child {
    font-weight: 600;
    margin-bottom: 25px;
    color: black;
    font-size: 20px;
  }
  h1{
    font-size: 70px;
    font-weight: 400px;
    line-height: 1;
    letter-spacing: 10px;
  }
  /*footer*/
  footer p{ 
    font-size: 12px;
    width: 80%;
  }
aside{
    grid-column: 2;
    grid-row: 1 / -1;
    padding-right: 10vw;
}
aside video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media screen and (max-width :680px){
    .container{
        grid-template-columns: 100%;
        grid-template-rows: 25% 30% 15% 30%;
    }
    h1{
        font-size: 50px;
        font-weight: 500;
    }
    footer{
        width: 100%;
    }
    aside{
        grid-row: 4;
        grid-column: 1;
        padding: 0;
    }
   
}